.grid-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.big-image {
    flex: 1;
    padding-right: 10px;
}

.big-image img {
    max-width: 100%;
    height: auto;
}

.small-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.small-images img {
    width: calc(50% - 5px);
    height: auto;
}

/* Media query para vista móvil */
@media (max-width: 767px) {
    .grid-container {
        flex-direction: column;
    }
    
    .small-images img {
        width: 100%;
        margin-bottom: 10px;
    }

    .big-image img {
        padding-bottom: 15px;
        padding-right: -10px;
    }
}
