.grid-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.big-image {
    flex: 1;
    padding-right: 10px;
}

.big-image img {
    max-width: 100%;
    height: auto;
}

.small-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.small-images img {
    width: calc(50% - 5px);
    height: auto;
}

/* Media query para vista móvil */
@media (max-width: 767px) {
    .grid-container {
        flex-direction: column;
    }

    .small-images img {
        width: 100%;
        margin-bottom: 10px;
    }

    .big-image img {
        padding-bottom: 15px;
        padding-right: -10px;
    }
}

.button-31 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 1112x;
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}

.izquierda {
    width: 48%;
    height: 80%;
}

.derecha {
    width: 48%;
    height: 80%;
    text-align: right;
}

.contenedor {
    display: flex; /* Utilizamos flexbox para alinear en horizontal */
    align-items: center; /* Centramos verticalmente */
    width: 100%; /* Ancho del contenedor */
}

.contenedor-tallas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cuadrado {
    width: 48px;
    height: 48px;
    border: 2px solid #464646; /* Borde gris oscuro */
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    color: #464646; /* Texto gris oscuro */
  }
  
  .cuadrado:last-child {
    margin-right: 0;
  }